<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Start with an side-menu right-->
<ion-menu slide="right" [content]="mycontent">
  <ion-header color="secondary">
    <ion-navbar>
      <ion-title>Compétences</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <ion-item class="favButton" (click)="goToFavoritePage()" color="danger">

      Favoris
      <ion-icon name="star"></ion-icon>

    </ion-item>
    <!-- Skill List -->
    <ul class="skill-list">
      <ion-item *ngFor="let g of skills | filter : searchSkill" class="skill-item" [color]="g.selected ? 'light': 'danger'">
        <label class="container">{{g.name}}
          <input class="checkbox" checked="checked" (change)="getSelectedData()" type="checkbox" name="skills" value="{{g.id}}" [(ngModel)]="g.selected"
          />
          <span class="checkmark"></span>
        </label>

      </ion-item>
    </ul>

  </ion-content>
</ion-menu>

<!-- menu end  ==== Welcome to the content List of BusinessesMan-->
<ion-header color="primary">
  <ion-navbar>
    <ion-nav-buttons>
      <button menuToggle>
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-nav-buttons>
    <ion-title>Liste des compétences</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-list *ngIf="selected_count; else noOeuvres">
    <ion-item class="list-show" *ngFor="let xyz of selected_businessesRoot | unique: 'name'" (click)="toDetailsPage(xyz.id)">
      <ion-avatar item-start>
        <img [src]="xyz.logo" />
      </ion-avatar>
      <h3>{{xyz.name}}</h3>
      <ion-badge class="badge-marge" *ngFor="let uvw of xyz.skills">{{uvw.name}}</ion-badge>
    </ion-item>
  </ion-list>


  <!-- Clear Link -->
  <ion-fab bottom right>
    <button ion-fab class="clear-selection" title="Clear Selections" (click)="clearSelection()" *ngIf="selected_count">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>

  <!--toogleMenu-->
  <ion-fab bottom right>
    <button ion-fab class="clear-selection" title="Clear Selections" menuToggle *ngIf="!selected_count">
      <ion-icon name="ios-funnel"></ion-icon>
    </button>
  </ion-fab>


  <!-- list end ===== show ngTemplate if skills isn't validate-->

  <ng-template #noOeuvres>

    <div class="p_desole">

      <p>Aucune compétence n'a été sélectionné

        <ion-icon class="flag" name="flag" item-left></ion-icon>
      </p>
    </div>
  </ng-template>


</ion-content>



<ion-nav #mycontent></ion-nav>