.btndetail {
    margin-top: 10px;
    border-top-left-radius: 64px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 64px;
    margin-left: 15%
}

.btncompetences {
    margin-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
    border-bottom-left-radius: 0px;
    margin-right: 15%
}

.BtnCom {
    margin-top: 5%
}

h1 {
    font-size: 40px;
}

page-details {
    #map_canvas {
        position: fixed;
        height: 90%;
        top: 0px
    }
}

.btnScroll{
    position: fixed;
    z-index: 1;
}

.topMap {
    height: 90%;
    
}

.contentDetail {

   
    position: relative;
}

.Transparentdetail{

    background-color: transparent;
}

.detail{
    background-color: bisque;
}
.avatar{
    top:-30px;
}
.SegmentDetail{
    background-color: transparent

}

ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}

.test {
    position: fixed;
    height: 150px;
    top: 0px;
    background-color: transparent;
}

@keyframes example {
    0%   {top:0px;}
    100%  {top:600px;}

}